In [41]:
import pandas as pd

# Excelファイルの読み込み
file_path = "data.xlsx"  # ファイルパスを指定
df = pd.read_excel(file_path)

df=df.iloc[4:369]

In [42]:
df

              Unnamed: 0 Unnamed: 1 Unnamed: 2  s
4    2023-01-01 00:00:00       晴一時曇          8  1
5    2023-01-02 00:00:00          晴          8  1
6    2023-01-03 00:00:00          晴          8  1
7    2023-01-04 00:00:00          晴          8  1
8    2023-01-05 00:00:00       晴時々曇          8  1
..                   ...        ...        ... ..
364  2023-12-27 00:00:00       晴一時曇          8  1
365  2023-12-28 00:00:00       晴時々曇          8  1
366  2023-12-29 00:00:00          晴          8  1
367  2023-12-30 00:00:00      薄曇時々晴          8  1
368  2023-12-31 00:00:00    曇時々雨一時晴          8  1

[365 rows x 4 columns]

In [43]:
df=df[['Unnamed: 0','Unnamed: 1']]

In [44]:
df

              Unnamed: 0 Unnamed: 1
4    2023-01-01 00:00:00       晴一時曇
5    2023-01-02 00:00:00          晴
6    2023-01-03 00:00:00          晴
7    2023-01-04 00:00:00          晴
8    2023-01-05 00:00:00       晴時々曇
..                   ...        ...
364  2023-12-27 00:00:00       晴一時曇
365  2023-12-28 00:00:00       晴時々曇
366  2023-12-29 00:00:00          晴
367  2023-12-30 00:00:00      薄曇時々晴
368  2023-12-31 00:00:00    曇時々雨一時晴

[365 rows x 2 columns]

In [45]:
# 条件に基づいて置換する関数を定義
def replace_weather(x):
    if x.startswith("晴"):
        return "sunny"
    elif x.startswith("曇"):
        return "cloudy"
    elif x.startswith("雨"):
        return "rainy"
    return "other"  # 上記条件に該当しない場合はそのまま返す

# 関数を適用
df["Unnamed: 1"] = df["Unnamed: 1"].apply(replace_weather)
# Unnamed: 0列を日付型に変換してフォーマットを変更
df["Unnamed: 0"] = pd.to_datetime(df["Unnamed: 0"]).dt.strftime("%-m/%-d")
# 結果を表示
print(df)

# 結果を表示
print(df)
df.to_excel("weatherdata.xlsx", index=False)

    Unnamed: 0 Unnamed: 1
4          1/1      sunny
5          1/2      sunny
6          1/3      sunny
7          1/4      sunny
8          1/5      sunny
..         ...        ...
364      12/27      sunny
365      12/28      sunny
366      12/29      sunny
367      12/30      other
368      12/31     cloudy

[365 rows x 2 columns]
    Unnamed: 0 Unnamed: 1
4          1/1      sunny
5          1/2      sunny
6          1/3      sunny
7          1/4      sunny
8          1/5      sunny
..         ...        ...
364      12/27      sunny
365      12/28      sunny
366      12/29      sunny
367      12/30      other
368      12/31     cloudy

[365 rows x 2 columns]

/tmp/ipykernel_757105/3490914735.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Unnamed: 1"] = df["Unnamed: 1"].apply(replace_weather)
/tmp/ipykernel_757105/3490914735.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Unnamed: 0"] = pd.to_datetime(df["Unnamed: 0"]).dt.strftime("%-m/%-d")